<div class="sales-container">
    <div class="p-grid">
        <p-card>
            <ng-template pTemplate="title">
                Sale Details
            </ng-template>
            <ng-template pTemplate="content">
                <div class="sales-info">
                    <p>Product: {{sale.storage.product.name }}</p>
                    <p>Description: {{ sale.storage.description }}</p>
                    <p>Client: {{sale.user.name}}</p>
                    <p>Seller: {{sale.storage.user.name}}</p>
                    <p>Date: {{ sale.created_at | date: 'MM/dd/yyyy' }}</p>
                    <p>Hour: {{sale.created_at | date: 'HH:mm'}}</p>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>