<div class="sales-container">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let sale of sales">
            <p-card>
                <ng-template pTemplate="title">
                    Sale Details
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="sales-info">
                        <p>Date: {{ sale.date }}</p>
                        <p>Hour: {{ sale.hour }}</p>
                        <p>Description: {{ sale.description }}</p>
                        <p>Client: {{ sale.client }}</p>
                        <p>Seller: {{ sale.seller }}</p>
                        <p>Notes: {{ sale.notes }}</p>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>