.home-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.tag-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sales-history {
    display: flex;
    flex-direction: column;
    gap: 1em;
}