<div class="product-container">
    <form (ngSubmit)="createProduct()">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="product.name" required pInputText
                placeholder="Product Name" />
        </div>
        <div class="p-field">
            <label for="price">Price</label>
            <input type="number" id="price" name="price" [(ngModel)]="product.price" required pInputNumber
                placeholder="Product Price" mode="currency" currency="USD" />
        </div>
        <div class="p-field">
            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount" [(ngModel)]="product.amount" required pInputNumber
                placeholder="Product Amount" />
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" name="description" [(ngModel)]="product.description" pInputTextarea
                placeholder="Product Description"></textarea>
        </div>
        <button type="submit" pButton label="Create"></button>
    </form>
</div>